<!DOCTYPE html>

<html>
  <head>

    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <h1>Games</h1>
    <% if (user) { %>
    <div>Hello, <%= user.firstName %></div>
    <div>Here are your games: <%= games %></div>

    <div><%= games %></div>
    <% } else { %>
      <div><a href="/auth/yahoo">Sign In</a></div>
    <% } %>
    <% include footer %>

  </body>
</html>
