<!-- <!DOCTYPE html>

<html>
  <head>

    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <h1>Fantasy Analyzer Home</h1>
    <% if (user) { %>
    <div>Hello, <%= user.firstName %></div>
    <div><a href="/games">Games</a></div>

    <div><%= bodyTest %></div>
    <% } else { %>
      <div><a href="/auth/yahoo">Sign In</a></div>
    <% } %>
    <% include footer %>

  </body>
</html>
 -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>App</title>
 </head>
 <body>
     <div>Hello, <%= user.firstName %></div>

     <div id="container"></div>
 </body>
 <script src="/dist/app.bundle.js"></script>
 </html>