<!DOCTYPE html>

<html>
  <head>

    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <h1>League</h1>
    <% for(var x=0; x < roster.length; x++) { %>
      <h2>Team <%= x %></h2>
      <% for(var i=0; i < roster[x].length; i++) { %>
        <div><%= roster[x][i].name.full %></div>
      <% } %>
    <% } %>
    

      
    <% include footer %>

  </body>
</html>
